In [1]:
import os
import pandas as pd
from pathlib import Path
from filecmp import cmp

In [2]:
os.getcwd()

'C:\\Users\\Lenovo'

In [12]:
os.chdir("C://Users/Lenovo/Desktop/r/new")

In [13]:
os.getcwd()

'C:\\Users\\Lenovo\\Desktop\\r\\new'

In [14]:
f = open("text_1.txt", "a")
f.write("799602478")
f.close()

f = open("text_3.txt", "a")
f.write("799602478")
f.close()

f = open("text_4.txt", "a")
f.write("799602478")
f.close()

f = open("text_2.txt", "a")
f.write("hi how are you")
f.close()

f = open("text_5.txt", "a")
f.write("hi how are you")
f.close()

In [15]:
# list of all documents
DATA_DIR = Path('C://Users/Lenovo/Desktop/r/new')
files = sorted(os.listdir(DATA_DIR))
  
# List having the classes of documents
# with the same content
duplicateFiles = []
  
# comparison of the documents
for file_x in files:
  
    if_dupl = False
  
    for class_ in duplicateFiles:
        # Comparing files having same content using cmp()
        # class_[0] represents a class having same content
        if_dupl = cmp(
            DATA_DIR / file_x,
            DATA_DIR / class_[0],
            shallow=False
        )
        if if_dupl:
            class_.append(file_x)
            break
  
    if not if_dupl:
        duplicateFiles.append([file_x])
  
# Print results
print(duplicateFiles)

[['Dataset_information.txt'], ['bank-full.csv'], ['datasciencemlproject1.zip'], ['text_1.txt', 'text_3.txt', 'text_4.txt'], ['text_2.txt', 'text_5.txt']]

In [17]:
mylist=[7999602478,9981445907,9345678312,7999791655]
df=pd.DataFrame(mylist)
df.to_excel("output.xlsx")

In [18]:
testdata=[7999602478,9981445907,9345678312,9292929292]
df1=pd.DataFrame(testdata)
df1.to_excel("test.xlsx")

In [20]:
df1

            0
0  7999602478
1  9981445907
2  9345678312
3  9292929292

In [21]:
df

            0
0  7999602478
1  9981445907
2  9345678312
3  7999791655

In [25]:
newlist=[]
for i in df[0]:
    for j in df1[0]:
        if(i==j):
            newlist.append(j)

In [26]:
newlist

[7999602478, 9981445907, 9345678312]

In [27]:
newdf=pd.DataFrame(newlist)
newdf.to_excel("output.xlsx")